<!-- Home Styles -->
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 120px;
    margin-left: 10px;
}

h2 {
    font-size: 50px;
    margin-right: 5px;
}

.full-height {
    height: 100%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#twitter-icon {
    font-size:400%;
    color:#1da1f2;
}

#tweet {
    font-size:400%;
    color:#1da1f2;
}

.abc {
    background-image: url("../nice.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    display:block;
}
