<!-- Home Styles -->
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}

p { 
    word-wrap:break-word;
}

.full-height {
    height: 100%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

#twitter-icon {
    font-size:400%;
    color:#1da1f2;
}

#tweet {
    font-size:350%;
    color:#1da1f2;
}

.welcome {
    background-color: #5bc0de;
    text-align: center;
}

.welcomeText {
    font-size: 70px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.nowText {
    font-size: 30px;
    margin-right: 5px;
    margin-bottom: 60px;
}

.custom-btn {
    margin-bottom: 60px;
}
